<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Webpack App</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel="stylesheet" href="./asset/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="./asset/image/logo.png" alt="">
        </div>
        <ul>
            <li>STATISTICS</li>
            <li>NEWS</li>
            <li>STREAMER RESULTS</li>
            <li>TOP EVENTS</li>
        </ul>
        <div class="auth">
            <div class="play-game">
                <img src="./asset/image/game.png" alt="">
                <span>Join for Exclusive <a href="">benefits</a></span>
            </div>
            <div class="btn-sign">SIGN IN</div>
            <div class="btn-sign active">SIGN UP</div>
        </div>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <img src="./asset/image/nav-game.png" alt="">
                    <span>ESPORTS</span>
                </li>
                <li>
                    <img src="./asset/image/nav-stream.png" alt="">
                    <span>STREAMERS</span>
                </li>
                <li>
                    <img src="./asset/image/nav-sport.png" alt="">
                    <span>SPORTS</span>
                </li>
                <li>
                    <img src="./asset/image/nav-promotion.png" alt="">
                    <span>PROMOTIONS</span>
                </li>
                <li>
                    <img src="./asset/image/nav-watch.png" alt="">
                    <span>watch to earn</span>
                </li>
            </ul>
        </nav>

        <article>
            <div id="livestream"></div>
            <div class="form-login" style="display: none">
                <h3>JOIN NOW</h3>
                <span class="description">Earn <span>10% APR</span> on all coins</span>
                <div class="form-data">
                    <input type="text">
                    <input type="password">
                    <input type="password">
                    <input type="email">
                    <div class="term-condition">
                        <input type="checkbox"> <span>Please confirm that you are over 18 years old and accept our <span>terms of use.</span></span>
                    </div>
                </div>
                <div class="btn-sign-up">SIGN UP</div>
                <div class="text-divider">Or</div>
                <div class="group-btn-social">
                    <div class="btn-social">
                        <img src="./asset/image/facebook.png" alt="">
                        Facebook
                    </div>
                    <div class="btn-social">
                        <img src="./asset/image/google.png" alt="">
                        Google
                    </div>
                </div>
                <span class="link-signin">
                    Already registered? <span>Sign in here!</span>
                </span>
            </div>
        </article>
    </div>
    <footer>
        <div class="footer-header">
            <img src="./asset/image/logo.png" alt="">
            <div>
                <span>Terms & Conditions</span>
                <span>Privacy Policy</span>
                <ul>
                    <li>Social</li>
                    <li>
                        <img src="./asset/image/f-game.png" alt="">
                    </li>
                    <li>
                        <img src="./asset/image/f-twitch.png" alt="">
                    </li>
                    <li>
                        <img src="./asset/image/f-facebook.png" alt="">
                    </li>
                    <li>
                        <img src="./asset/image/f-Instagram.png" alt="">
                    </li>
                    <li>
                        <img src="./asset/image/f-telegram.png" alt="">
                    </li>
                    <li>
                        <img src="./asset/image/f-youtube.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-body">
            <div>
                <img src="./asset/image/f-icon18.png" alt="">
                <span>Players must be over 18 to access our site. Esports Bet is committed to responsible gaming, stop playing whenever the game stops being fun.</span>
            </div>
            <div>
                <img src="./asset/image/f-icon-info.png" alt="">
                <span>Always be aware of how gaming may impact your life and the people around you.</span>
            </div>
        </div>
        <div class="footer-end">
            <img src="./asset/image/f-footer.png" alt="">
            <div class="info">
                <div>www.esportsbet.io is operated by E Gambling Montenegro d.o.o. (81000 Podgorica, Moskovska br. 65., reg. no. 5-0615951) in cooperation with JOYFUL EFFORT LIMITED, Wickhams Cay 1, Road Town, Tortola, British Virgin Islands.</div>
                <div class="nth-2">E Gambling Montenegro d.o.o. (Podgorica, Moskovska br. 65., reg. no. 5-0615951) hereby certifies that under the concession (serial no. AA 001588, numeric no. 133-01/15 4A and 1ER) and approval (no. 02/01-118/4), organize and operate games of chance in Montenegro on website www.esportsbet.io , in accordance with the Agreement, concluded between E Gambling Montenegro d.o.o. and JOYFUL EFFORT LIMITED (Wickhams Cay 1, Road Town, Tortola, British Virgin Islands, reg. no. 2079203) on 01 December, 2021 .</div>
            </div>
        </div>
    </footer>
</body>
</html>